* {
  text-align: center;
  font-family: Helvetica;
}

.header_banner {
  background-image: url("/Users/petermchoke/Desktop/Projects/Codecademy Ready/Broadway/resources/images/the-flatiron-building.png");
  color:white;
}

.header {
  font-size: 70px;
  font-weight: bold;
}

a,
h4 {
  color: white;
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 32 px;
  font-weight: bold;
}

.mid_banner {
  color: white;
  background-image: url("/Users/petermchoke/Desktop/Projects/Codecademy Ready/Broadway/resources/images/the-flatiron-building.png");
}

p {
  font-size: 14px;
}

footer {
  text-align: left;
  color: white;background-color: dimgray;
  font-size: 11px;
}

h2 {
  font-size: 32px;
}

.footer_menu {
  text-align: left;
  color: white;

}
